.container {
  margin-top: 90px;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: gray;
    margin: 20px 0;
  }
  .cartProductSection {
    // border: 2px dashed brown;
  }
}
