.table {
  padding: 20px 0 10px 0;
  background-color: rgba(#fff, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 6px 10px 20px 6px rgba(#000, 0.3);
  .header {
    // border: 1px dashed red;
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      th {
        color: gray;
      }
      td:first-child {
        padding-left: 20px;
      }
    }
  }
  th,
  td {
    padding: 8px;
    text-align: left;
    .firstCol {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .actionBox {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .icon {
        cursor: pointer;
      }
    }
  }

  th {
    background-color: #ecebeb;
  }

  tr:hover {
    background-color: rgba(#ededed, 0.4);
    backdrop-filter: blur(20px);
  }

  //   pagination style
  .paginationBox {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
}
