.bgImage {
  background-image: url("./../../assets/bg01.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -999;
}

.container {
  background-color: rgba(#fff, 0.2);
  backdrop-filter: blur(20px);
  height: 100vh;
  display: flex;

  .sidebar {
    // display: none;
    width: 280px;
  }
  .main {
    // width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    .header {
      //   border: 2px dashed brown;
      //   height: 50px;
    }
    .content {
      flex: 1;
      // border: 2px dashed gray;
      overflow-y: auto;
    }
  }
}
