.container {
  background-color: rgba(#fff, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px 10px rgba(#000, 0.1);
  padding: 20px 50px;
  span {
    display: inline-block;
    margin: 0 20px;
  }
}
