.main {
  // border: 2px dashed gray;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  .home {
    // border: 2px dashed gray;
    padding: 20px;
    .firstRow {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 10px;
    }
    .secondRow {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
